@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
}
p{
  font-size: 0.8rem;
}

#map {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}

.inputBox{
  top: 20px;
  left: 30px;
  position: absolute;
  z-index: 1000;
}

#inputRequest{
  text-transform: capitalize;
  padding: 5px 16px;
  font-size:1rem;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.7);
}

.locationCard{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  border-radius: 10px;
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 30px;
  width: 300px;
  height: 600px;
  background-color: #F1F1F1;
}

.locationTitle{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e1e1e1;
}

.locationImg{
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.locationCard h3{
  font-size: 1.5rem;
  margin: 5px 0px 0px 5px;
}

.locationCard p{
  margin: 2px 7px;
}

h4{
  margin: 5px 0 0 5px;
}

.locationWeather{
  display: flex;
  flex-direction: column;
  margin:0;
  border-bottom: 1px solid #e1e1e1;
}

#coords{
  font-size:.7rem;
}

